@import "../style.css";

.memory-gameboard {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates a 5x4 grid */
    gap: 10px; /* Space between cells */
    margin: auto; /* Centering the grid */
    margin-left: 225px;
    max-width: 300px; /* Restricting the maximum width of the grid */
}

.cell {
    background-color: white;
    border: 2px solid black;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* Ensures that cells are square */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Set a fixed height for better visual */
    color: #444; /* Default text color */
}

.cell:hover {
    background-color: rgb(34,35,125); /* Hover effect for cells */
}